* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 300px;
    margin-top: 150px;
    background-color: #eff1f5
}

.main {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: left;
}

h1, h2, h3, h4 {
    color: rgb(69, 69, 69);
}

strong {
    font: bold;
    color: black;
}

@media only screen and (max-width: 1400px) {
    body {
        margin: 100px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        margin: 30px;
        margin-top: 25px;
    }

    .main {
        padding: 20px;
    }
}

